<div style="min-height: 600px;">
	<a class="btn-floating btn waves-effect waves-light red" routerLink="/championship/add" routerLinkActive="active"><i class="material-icons">add</i></a>
	<div style="height: 600px;">
	  <md-list>
	    <md-list-item *ngFor="let row of data">
	      <img src="{{row.logoUrl}}" class="md-avatar" style="width: 30px;">
	      <a routerLink="/championship/show/{{row.id}}" routerLinkActive="active">{{row.name}}</a>
	    </md-list-item>
	  </md-list>
	</div>
	<a class="btn-floating btn waves-effect waves-light red" routerLink="/championship/add" routerLinkActive="active"><i class="material-icons">add</i></a>
</div>