<div style="min-height: 600px;">
  <a class="btn-floating btn-large red" [routerLink]="['/championship/edit', data.id]">
    <i class="large material-icons">mode_edit</i>
  </a>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <span class="card-title" style="color: red;">{{data.name}}</span>
        <div class="card-image">
          <img src="{{data.logoUrl}}" style="width: 30%;">
        </div>
        <div class="card-content">
          <p>
            {{data.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <ul class="collection" *ngFor="let team of data.teams">
    <li class="collection-item avatar">
      <img src="{{team.src}}" alt="" class="circle">
      <a [routerLink]="['/team/show', team.id]" ><span class="title">{{team.name}}</span></a>
      <p>Points: {{team.points}}</p>
    </li>
  </ul>
</div>