<div style="min-height: 600px;">
  <a class="btn-floating btn-large red" [routerLink]="['/championship/edit', data.id]">
    <i class="large material-icons">mode_edit</i>
  </a>
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <span class="card-title" style="color: red; text-transform: uppercase;">{{data.name}}</span>
        <div class="card-image">
          <img src="{{data.logoUrl}}" style="width: 30%;">
        </div>
        <div class="card-content">
          <p>
            {{data.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <ul>
    <li>
      <app-championship-teams [matchTeams]="matchTeams" [current]="current"></app-championship-teams>
    </li>
    <li>
      <div>
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Teams</h4></li>
          <li class="collection-item avatar" *ngFor="let rowTeams of children">
            <img src="{{rowTeams.team.logoUrl}}" class="circle">
            <a [routerLink]="['/team/show', rowTeams.team.id]"><span class="title" style=" text-transform: uppercase;">{{rowTeams.team.name}}</span></a>
            <span class="title" style=" text-transform: uppercase;">{{rowTeams.points}}</span>
            <a class="btn-floating btn waves-effect waves-light red" (click)="removeChildren(rowTeams.id)" routerLinkActive="active"><i class="material-icons">delete</i></a>
          </li>
        </ul>
        <div>
          <button md-button (click)="openDialog()">Add Team</button>
        </div>
      </div>
    </li>
  </ul>
</div>
