<div style="min-height: 600px;">
  <a class="btn-floating btn-large red" [routerLink]="['/championship/edit', data.id]">
    <i class="large material-icons">mode_edit</i>
  </a>
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <span class="card-title" style="color: red; text-transform: uppercase;">{{data.name}}</span>
        <div class="card-image">
          <img src="{{data.logoUrl}}" style="width: 30%;">
        </div>
        <div class="card-content">
          <p>
            {{data.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <ul>
    <li>
      <app-championship-matches [matches]="matchTeams" [current]="current"></app-championship-matches>
    </li>
    <li>
      <app-championship-teams [teams]="children"></app-championship-teams>
    </li>
  </ul>
</div>
