<div>
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Teams</h4></li>
    <li class="collection-item avatar" *ngFor="let rowTeams of teams">
      <img src="{{rowTeams.team.logoUrl}}" class="circle">
      <a [routerLink]="['/team/show', rowTeams.team.id]"><span class="title" style=" text-transform: uppercase;">{{rowTeams.team.name}}</span></a>
      <span class="title" style=" text-transform: uppercase;">{{rowTeams.points}}</span>
      <a class="btn-floating btn waves-effect waves-light red" (click)="removeChildren(rowTeams.id)" routerLinkActive="active"><i class="material-icons">delete</i></a>
    </li>
  </ul>
  <div>
    <button md-button (click)="openDialog()">Add Team</button>
  </div>
</div>
