<div style="min-height: 600px;">
  <a class="btn-floating btn-large red" [routerLink]="['/team/edit', data.id]">
    <i class="large material-icons">mode_edit</i>
  </a>
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <span class="card-title" style="color: red; text-transform: uppercase;">{{data.name}}</span>
        <div class="card-image"  style="width: 300px; height: 300px;">
          <img src="{{data.logoUrl}}" style="width: 300px;">
        </div>
        <div class="card-content">
          <p>data.description</p>
        </div>
      </div>
    </div>
    <div>
        <button md-button (click)="openDialogAddPlayer()">Add Player</button>
      </div>
  </div>
</div>