<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-list>
            <h3 md-subheader>Championships</h3>
            <md-list-item *ngFor="let championship of championships">
                <img src="{{championship.src}}" class="md-avatar" style="width: 30px;">
                <span>{{championship.name}}</span>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        Sport News
        <span class="app-toolbar-filler"></span>
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    </md-toolbar>
    <div class="app-content">
        <md-card>
            <h1>{{currentChampion.name}}</h1>
            <img src="{{currentChampion.src}}" class="md-avatar" style="width: 150px;">
        </md-card>
        <md-card>
            <h1>Positions</h1>
            <md-list>
                <md-list-item *ngFor="let team of teams">
                    <div style="float: left; width: 80%;">
                        <img md-list-avatar src="{{team.src}}" alt="..." style="width: 30px; display: inline-block;">
                        <h3 style="display: inline-block;"> {{team.name}} </h3>
                    </div>
                    <span style="float: right;">{{team.points}}</span>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</md-sidenav-layout>
