<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-list>
            <h3 md-subheader>Championships </h3>
            <md-list-item *ngFor="let championship of championships" (click)="changeChampionship($event, championship.id)">
                <img src="{{championship.src}}" class="md-avatar" style="width: 30px;">
                <span>{{championship.name}}</span>
            </md-list-item>
        </md-list>
        <md-list>
            <h3 md-subheader>Teams</h3>
            <a class="btn-floating btn-large waves-effect waves-light red" routerLink="/team-add" routerLinkActive="active"><i class="material-icons">add</i></a>
            <a routerLink="/team-list" routerLinkActive="active"><i class="material-icons">list</i></a>
        </md-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        Sport News
        <span class="app-toolbar-filler"></span>
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    </md-toolbar>
    <div class="app-content">
        <router-outlet></router-outlet>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{currentChampion.src}}" style="width: 30%;">
                        <span class="card-title">{{currentChampion.name}}</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="collection" *ngFor="let team of currentChampion.teams">
            <li class="collection-item avatar">
                <img src="{{team.src}}" alt="" class="circle">
                <span class="title">{{team.name}}</span>
                <p>Points: {{team.points}}</p>
            </li>
        </ul>
    </div>
</md-sidenav-layout>
