<div style="min-height: 600px;">
    <div class="row">
        <h1>New Match</h1>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Placeholder" [(ngModel)]="data.matchDate" type="text" class="validate" name="name">
                    <label for="first_name">Name</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" (click)="save()" name="action">Save
            </button>
        </form>
    </div>
</div>
