<ul class="collection with-header">
    <li class="collection-header"><h4>PLAYER LIST</h4></li>
    <li class="collection-item avatar" *ngFor="let row of data">
      <img src="{{row.avatarUrl}}" alt="" class="circle" style="width: 50px;">
      <a [routerLink]="['/player/show', row.id]" ><span class="title" style=" text-transform: uppercase;">{{row.name}}</span></a>
      <button type="button" md-raised-button (click)="dialogRef.close(row)">Add</button>
    </li>
  </ul>
<button type="button" md-button (click)="dialogRef.close()">Cancel</button>
