<a class="btn-floating btn waves-effect waves-light red" routerLink="/team/add" routerLinkActive="active"><i class="material-icons">add</i></a>
<ul class="collection">
	<li class="collection-item avatar" *ngFor="let team of teams">
    <img src="{{team.src}}" alt="" class="circle">
    <a [routerLink]="['/team/show', team.id]" ><span class="title">{{team.name}}</span></a>
    <p>First Line
      <br> Second Line
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	</li>
</ul>
<a class="btn-floating btn waves-effect waves-light red" routerLink="/team/add" routerLinkActive="active"><i class="material-icons">add</i></a>
