<div style="min-height: 600px;">
  <a class="btn-floating btn waves-effect waves-light red" routerLink="/team/add" routerLinkActive="active"><i class="material-icons">add</i></a>
  <ul class="collection with-header">
    <li class="collection-header"><h4>TEAM LIST</h4></li>
    <li class="collection-item avatar" *ngFor="let row of data">
      <img src="{{row.logoUrl}}" alt="" class="circle">
      <a [routerLink]="['/team/show', row.id]" ><span class="title">{{row.name}}</span></a>
      <p>
        {{row.description}}
      </p>
    </li>
  </ul>
  <a class="btn-floating btn waves-effect waves-light red" routerLink="/team/add" routerLinkActive="active"><i class="material-icons">add</i></a>
</div>
