<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" [(ngModel)]="name" type="text" class="validate" name="name">
                <label for="first_name">Team Name</label>
            </div>
            <div class="input-field col s6">
                <input type="text" [(ngModel)]="description" class="validate" name="description">
                <label for="last_name">Team Description</label>
            </div>
            <div class="input-field col s6">
                <input type="text" [(ngModel)]="icon" class="validate" name="icon">
                <label for="last_name">Icon</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" (click)="save()" name="action">Save
        </button>
    </form>
</div>
